$cor-principal: #0000ff;
$cor-fonte-primaria: #fff;
$btn-cor: #0000ff;

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html, body{ 
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background: $cor-principal;
    color: $cor-fonte-primaria;
    font-family: 'Montserrat', sans-serif;
}

.defaultStyle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.defaultStyle h4 {
    margin-top: 10px;
    margin-bottom: 30px;
}

.defaultBtn{
    width: 250px;
    background: $btn-cor;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 20px;
}

.defaultBtnSm {
    width: 150px;
    margin-top: 20px;
    background: $btn-cor;
    border: 1px solid white;
    border-radius: 20px;
}

.footerBtn{
    margin-top: 200px;
    color: $cor-fonte-primaria;
    border-radius: 20px;
}

.inputLog {
    margin-top: 30px;
}