html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background: #E35144;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.headerContainer{
    display: flex;
    justify-content: center;
}

.mainContainer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.footerContainer{
    display: flex;
    justify-content: center;
}
.backButton{
    width: 150px;
    margin-top: 100px;
    background: #e35144;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
}

.backButton:hover{
    background: #c73528;
    border: #c73528;
}