html, body{
    height: 100%
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background: #e35144;
    color: #fff;
    font-family: 'Montserrat', sans-serif;

}

.dropRua{
    width: 200px;
    margin-top: 50px;
    background: #e35144;
    border: 1px solid white;
    border-radius: 20px;
}

.btnEstacionar{
    margin-top: 150px;
    margin-left: 58px;
    background: #e35144;
    border: 1px solid white;
    border-radius: 20px;
}

