html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background: #E35144;
    color:white;
}

.headerContainer{
    display: flex;
    justify-content: center;
}

.mainContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttonLogin{
    width: 200px;
    margin-top: 50px;
    background: #E35144;
    border: 1px solid white;
    border-radius: 20px;
}

.buttonLogin:hover{
    background: #c73528;
    border: #c73528;
}

.buttonRegister{
    width: 200px;
    margin-top: 10px;
    background: #E35144;
    border: 1px solid white;
    border-radius: 20px;
}

.buttonRegister:hover{
    background: #c73528;
    border: #c73528;
}

.footerContainer{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.buttonNewUser{
    width: 150px;
    background: #E35144;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
}

.buttonNewUser:hover{
    background: #c73528;
    border: #c73528;
}
