html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background: #0000ff;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.headerContainer{
    display: flex;
    justify-content: center;
}

.mainContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttonLogin{
    width: 200px;
    margin-top: 50px;
    border: 1px solid white;
    border-radius: 20px;
}


.buttonRegister{
    width: 200px;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 20px;
}

.footerContainer{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.buttonNewUser{
    width: 150px;
    border-radius: 20px;
    color: white;
}

